<html>
    <head>
        <title>
            <%=  locals.title  %>
        </title>
        <script src="https://kit.fontawesome.com/197e16ce91.js" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/css/home.css">
    </head>
    <body>
        <h1 id="page-heading">
            <i class="fas fa-address-book"></i>
            My Contacts List</h1>

        <div id="contact-list-container">
            <ul>
                <% for(let i of contact_list) { %> 
                    <li class="contact">
                        <div class="details">
                        <p> <%= i.name %> </p>
                        <p> <%= i.phone %> </p>
                        </div>
                        <div class="delete-button">
                         <a href="/delete-contact/?id=<%= i._id %>">
                            <i class="fas fa-window-close"></i>
                         </a>

                        </div>
                    </li>
                    <%} %>
            </ul>
        </div>

        <form id="form" action="/create-contact" method="POST">
          
            <input id="input" type="text" name="name" placeholder="Enter Name" required>
            <input id="input" type="number" name="phone" placeholder="Enter Phone" required>

            <button id="btn" type="submit">Add</button>

        </form>

        <script type="text/javascript" src="/js/home.js"></script>
    </body>
</html>